body {
  font-family: "Livvic";
}

h1 {
  color: white;
  background-color: #0a3147;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  flex: 1 0 45%;
  margin: 30px 0px;
}

.btn {
  margin-top: 10px;
}

.menuBar {
  display: flex;
}
